<div class="Measurement_Choices">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown item text
  </button>
  <ul class="dropdown-menu">
    <li><a class="tablespoon" href="#">tbsp</a></li>
    <li><a class="teaspoon" href="#">tsp</a></li>
    <li><a class="cup" href="#">c</a></li>
    <li><a class="ounce" href="#">oz</a></li>
    <li><a class="pound" href="#">lb</a></li>
    <li><a class="gram" href="#">g</a></li>
    <li><a class="kilogram" href="#">kg</a></li>
    <li><a class="milliliter" href="#">ml</a></li>
    <li><a class="liter" href="#">L</a></li>
  </ul>
</div>