<div class="Number_Choices">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown item text
  </button>
  <ul class="dropdown-menu">
    <li><a class="1" href="#">1</a></li>
    <li><a class="2" href="#">2</a></li>
    <li><a class="3" href="#">3</a></li>
    <li><a class="4" href="#">4</a></li>
    <li><a class="5" href="#">5</a></li>
    <li><a class="6" href="#">6</a></li>
    <li><a class="7" href="#">7</a></li>
    <li><a class="8" href="#">8</a></li>
    <li><a class="9" href="#">9</a></li>
  </ul>
</div>