
<body>
    <div class="row">
            <!--title area -->
        <div class="d-flex card col-xxl-1 p-2 gx-3 gy-4">
              <!--title  -->
                <div class="card-title">

                </div>
                  <!--name -->
                <div class="card-title">

                </div>
        </div>
          <!--grid manipulation -->
        <div class = 'col-xxl-5'></div>
        <div class = 'col-xxl-1'></div>
        
    </div>
    <div class = row>
        <div class="col-xxl-1"></div>
        <!-- ingredients -->
        <div class="col-xxl-5">
                <div class="d-flex card justify-self-center p-2 gx-3 gy-4">
                    <div class="card-title">

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            <!-- instructions -->
            
                <div class="d-flex card justify-content-center p-2 gx-3 gy-4">
                    <div class="card-title">

                    </div>

                    <div class="card-body">
                        This is some text within a card body.
                    </div>

                </div>
            </div>
            <div class="col-xxl-1 gx-3 gy-4"></div>
    </div>

</body>