<section class="card">
  <!-- The contents of this card links recipe using the id -->
  <a href="/recipe/{{id}}">
    <!-- The card contains the recipe name as the card header -->
    <header>All recipes containing {{ingredient}}</header>
    <a href="/recipe/{{id}}">{{name}}</a>
  </a>
</section>

{{!-- See styles to design .card refer to activity 12 in module 14 --}}