<h1>Welcome to my cookbook</h1>
<p>please log in to </p>

<div>
    <h1>List of Recipes</h1>
        {{#each recipes}}
         <div class="card">
        <h2>{{name}}</h2>
        <h4>By: {{user.user_name}}</h4>
        <h3>Ingredients</h3>
        {{#each ingredients}}
        <p>{{name}}</p>
        {{/each}}
        <h3>Instructions:</h3>
        <p>{{instructions}}</p>
    </div>
    {{/each}}
</div>
<script src="/js/add_Recipes.js"></script>


