<div class="Measurement_Choices">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown item text
  </button>
  <ul class="dropdown-menu">
    <li><span class="cup">cup</span></li>
    <li><a class="tablespoon" href="#">tablespoon</a></li>
    <li><a class="teaspoon" href="#">teaspoon</a></li>
    <li><a class="ounces" href="#">ounces</a></li>
    <li><a class="pounds" href="#">pounds</a></li>
    <li><a class="grams" href="#">grams</a></li>
    <li><a class="milliliters" href="#">milliliters</a></li>
  </ul>
</div>